/* Estilos generales */

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(imagenes/fondo.jpg) no-repeat center center/ cover;
}

/* Titulo principal */

h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0;
  padding: 0 10px;
}

/* Acordion */

#acordion {
  width: 90vw;
  min-height: 80vh;
  max-width: 700px;
  background-color: white;
  border: 4px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-principal {
  width: 100%;
}

/* Especie */

.especie {
  width: 100%;
  height: 80px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #342727;
}

.especie span {
  font-style: italic;
  display: contents;
}

/* Descripcion */

.descripcion {
  width: 100%;
  height: 0px;
  font-size: 18px;
  margin: 10px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  max-width: 600px;
  overflow: hidden;
  transition: 1s all;
}

.descripcion img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
  object-fit: cover;
}

.descripcion p {
  width: 100%;
}

.descripcion a {
  display: block;
  text-align: center;
  margin: 20px 10px;
}

/* Activos */

.contenedor.activo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contenedor.activo .especie {
  background-color: #0e6116;
}

.contenedor.activo .descripcion {
  height: 300px;
  margin: 20px;
  overflow-y: scroll;
}
