/* Estilos Generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url(imagenes/pizza.jpg) no-repeat center center/ cover;
}

/* Contenido */

#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 80vw;
  max-width: 600px;
  background-color: white;
  border: 4px solid black;
}

h1 {
  font-size: 3rem;
  width: 100%;
  margin: 20px 10px;
}

ul {
  width: 100%;
  height: 100%;
}

.topping {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 15px 0;
}

.fondo-marron {
  background-color: #aa5822;
}

.fondo-naranja {
  background-color: #ff7b0f;
}